# Flutter / Dart
.dart_tool/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/google-services.json
**/*.keystore
**/*.jks

# iOS / Xcode
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/xcshared/
ios/.symlinks/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcscmblueprint
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
**/.DS_Store

# IntelliJ / Android Studio
.idea/
*.ipr
*.iws

# VS Code
.vscode/

# Environment & secrets
.env
.env.*
google-services.json
GoogleService-Info.plist
